device.json
[{"id":"34b64ab3.6d5436","type":"tab","label":"weather","disabled":false,"info":""},{"id":"5ce3372d.f3d1d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5133b8dc.f090b8","type":"ui_tab","z":"","name":"Weather","icon":"fa-thermometer-half","order":3,"disabled":false,"hidden":false},{"id":"498b9ae4.4a4054","type":"ui_group","z":"","name":"Default","tab":"5133b8dc.f090b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4451d27.21498","type":"inject","z":"34b64ab3.6d5436","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["a3f05b10.b36bb8"]]},{"id":"d489051f.691798","type":"debug","z":"34b64ab3.6d5436","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":140,"wires":[]},{"id":"a3f05b10.b36bb8","type":"openweathermap","z":"34b64ab3.6d5436","name":"weather","wtype":"current","lon":"","lat":"","city":"Kuala Lumpur","country":"Malaysia","language":"en","x":360,"y":140,"wires":[["d489051f.691798","9812442.45f3db8","2efd5abc.7bd396","a24be5e0.430f78","bd82a0f9.5ca09","d5569995.6a5058","755fd03b.a25a4","be15803c.7b1d9"]]},{"id":"ba941df2.9dda3","type":"ui_gauge","z":"34b64ab3.6d5436","name":"","group":"498b9ae4.4a4054","order":1,"width":0,"height":0,"gtype":"gage","title":"tempc","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":240,"wires":[]},{"id":"f62a7f3a.26f72","type":"ui_text","z":"34b64ab3.6d5436","group":"498b9ae4.4a4054","order":0,"width":0,"height":0,"name":"","label":"Weather","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":200,"wires":[]},{"id":"7e3b9fb0.aa832","type":"ui_text","z":"34b64ab3.6d5436","group":"498b9ae4.4a4054","order":2,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":280,"wires":[]},{"id":"c83c598b.62f438","type":"ui_text","z":"34b64ab3.6d5436","group":"498b9ae4.4a4054","order":3,"width":0,"height":0,"name":"","label":"Preassure","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":320,"wires":[]},{"id":"b5a5c61c.618fc8","type":"ui_text","z":"34b64ab3.6d5436","group":"498b9ae4.4a4054","order":4,"width":0,"height":0,"name":"","label":"Windspeed","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":360,"wires":[]},{"id":"372e8696.37213a","type":"ui_text","z":"34b64ab3.6d5436","group":"498b9ae4.4a4054","order":5,"width":0,"height":0,"name":"","label":"Location","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":400,"wires":[]},{"id":"b854dc76.07668","type":"ui_text","z":"34b64ab3.6d5436","group":"498b9ae4.4a4054","order":6,"width":0,"height":0,"name":"","label":"Description","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":440,"wires":[]},{"id":"9812442.45f3db8","type":"change","z":"34b64ab3.6d5436","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":200,"wires":[["f62a7f3a.26f72"]]},{"id":"2efd5abc.7bd396","type":"change","z":"34b64ab3.6d5436","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":240,"wires":[["ba941df2.9dda3"]]},{"id":"a24be5e0.430f78","type":"change","z":"34b64ab3.6d5436","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":280,"wires":[["7e3b9fb0.aa832"]]},{"id":"bd82a0f9.5ca09","type":"change","z":"34b64ab3.6d5436","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.preassure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":320,"wires":[["c83c598b.62f438"]]},{"id":"d5569995.6a5058","type":"change","z":"34b64ab3.6d5436","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.windspeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":360,"wires":[["b5a5c61c.618fc8"]]},{"id":"755fd03b.a25a4","type":"change","z":"34b64ab3.6d5436","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":400,"wires":[["372e8696.37213a"]]},{"id":"be15803c.7b1d9","type":"change","z":"34b64ab3.6d5436","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":440,"wires":[["b854dc76.07668"]]}]
